@import "../imports";

.no-result {
  color: $primary;
  text-align: center;
  margin-top: 50px;
}

.rejected {
  background: $primary;
  color: $white;
  margin: 0 auto;
  padding: 16px;
  margin: 100px;
  min-width: 350px;
  h3 {
    margin-top: 35px;

    a {
      color: white;
    }
  }
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.joblist-wrapper {
  display: block;

  .wrapper:first-child {
    margin-top: 0;

    @include large-device {
      margin-top: 30px;
    }
  }

  .pagination-buttons {
    text-align: right;
    margin-top: 32px;

    #dots {
      font-size: $large-font-size;
      color: $gray-light;
      padding: 0 14px;
      margin-left: 12px;
    }

    button {
      font-size: $small-font-size;
      background-color: transparent;
      border: 1px solid #b7bcce;
      border-radius: $border-radius;
      line-height: 36px;
      padding: 0 14px;
      margin-left: 12px;
      color: $gray-light;
      transition: all 0.1s;
      cursor: pointer;

      &:hover,
      &.active {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
      }
    }
  }
}
