@import "../imports";

.logo {
  margin-top: 32px;
  display: flex;
  align-items: center;
  font-size: $extra-large-font-size;
  user-select: none;
  color: #282538;

  #github {
    padding-right: 5px;
    font-weight: $bold-weight;
  }

  #jobs {
    font-weight: 300;
  }
}
