@import "../components/imports";

.input-wrapper {
  height: 138px;
  width: 100%;
  border-radius: $large-border-radius;
  margin-top: 30px;
  background-image: url("../assets/images/backgroundImg.png");
  padding: 41px 10px;
  position: relative;

  @include small-device {
    padding: 41px 20px;
  }

  @include medium-device {
    padding: 41px 50px;
  }

  @include large-device {
    padding: 41px 200px;
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: auto;
  // grid-template-columns: minmax(100px, 380px) minmax(500px, 790px);

  @include large-device {
    grid-gap: 30px;
    grid-template-columns: minmax(100px,270px) auto;
  }

  @include extra-large-device {
    grid-gap: 30px;
    grid-template-columns: minmax(100px,380px) auto;
  }
}
